## Settings file was created by plugin Bozoros v1.0.1
## Plugin GUID: Bozoros

[Circus Interior]

## The chance that the Interior tileset will be chosen. The higher the value, the higher the chance. By default, the Interior will appear on valid moons with a roughly one in two chance.
# Setting type: Int32
# Default value: 300
# Acceptable value range: From 0 to 99999
InteriorRarity = 300

## Use 'list' to specify a custom list of moons for the Interior to appear on. Individual moons can be added to the list by editing the InteriorDungeonMoonsList config entry.
# Setting type: String
# Default value: list
# Acceptable values: all, list
InteriorMoons = list

## Note: Requires 'InteriorMoons' to be set to 'list'. 
## Can be used to specify a list of moons with individual rarities for moons to spawn on. 
## Rarity values will override the default rarity value provided in Bunker Rarity and will override InteriorGuaranteed. To guarantee dungeon spawning on a moon, assign arbitrarily high rarity value (e.g.  99999). 
## Moons and rarities should be provided as a comma-separated list in the following format: 'Name:Rarity' Example: March:150,Offense:150 
## Note: Moon names are checked by string matching, i.e. the moon name 'dine' would enable spawning on 'dine', 'diner' and 'undine'. Be careful with modded moon names.
# Setting type: String
# Default value: Bozoros
InteriorDungeonMoonsList = Bozoros

## If enabled, the Interior will be effectively guaranteed to spawn. Only recommended for debugging/sightseeing purposes.
# Setting type: Boolean
# Default value: false
InteriorGuaranteed = false

[Circus Length]

## if not -1, Overrides the Interior length to what you set. 1 = 1 times big. 2 = twice as big. and so and so forth 
# Setting type: Int32
# Default value: -1
InteriorLengthOverride = -1

[General]

## Whether the music is streamer-friendly or not
# Setting type: Boolean
# Default value: false
StreamerFriendly = false

[Particles]

## Intensity of firework particles at the end of the night.
# Setting type: Single
# Default value: 1
FireworkParticles = 1

## Intensity of confetti particles during certain weather conditions.
# Setting type: Single
# Default value: 1
ConfettiParticles = 1

## Intensity of balloon particles during certain weather conditions.
# Setting type: Single
# Default value: 1
BalloonParticles = 1

[Volume]

## Volume level for the firework music.
# Setting type: Single
# Default value: 0.5
FireworkMusicVolume = 0.5

## Volume level for the firework explosion sound effects.
# Setting type: Single
# Default value: 0.5
FireworkExplosionVolume = 0.5

## Volume level for the announcer voice.
# Setting type: Single
# Default value: 0.5
AnnouncerVolume = 0.5

## Volume level for the circus tent music.
# Setting type: Single
# Default value: 0.5
CircusTentMusicVolume = 0.5

